@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #052364;
  --color2: #1450f5;
  --color3: #00aff0;
  --color4: #ff7300;
  --color5: #b9ebaf;
  --color6: #beb4fa;
  --beige: #f7f3f0;
}

html {
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* para el color de "With Crypto" */

.linear-gradient-orange {
  position: absolute;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    to right,
    rgba(255, 115, 0, 0.2),
    rgba(255, 115, 0, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* para unos borders */

.rounded-custom {
  border-radius: 1.5rem;
}

.spinner {
  border: 2px solid rgba(255, 255, 255, 0.2); /* Light grey */
  border-top: 2px solid #fff; /* White */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
